*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/modules.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/
